%h2 ホーム
.row
  .col-xs-12
    .box
      - if @comments.present?
        %table.table.table-bordered
          %tr
            %th 記事タイトル
            %th コメント内容
          - @comments.each do |comment|
            %tr
              %td= comment.article.title
              %td= comment.body

      - else
        %p データはありません