%h1 ホーム
- if @comments.present?
  %table.table
    %tr
      %th 記事タイトル
      %th コメント内容
    - @comments.each do |comment|
      %tr
        %td= comment.article.title
        %td= comment.body

- else
  %p データはありません