- if notice.present?
  .notice-alert
    .alert.alert-success.alert-dismissible
      %button.close{type: "button",'data-dismiss': "alert", 'aria-hidden': "true"}
        ×
      %i.icon.fa.fa-check
      = notice

- if alert.present?
  .notice-alert
    .alert.alert-danger.alert-dismissible
      %button.close{type: "button",'data-dismiss': "alert", 'aria-hidden': "true"}
        ×
      %i.icon.fa.fa-warning
      = alert
